<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
      src="https://www.alura.com.br/artigos/assets/code/deixando-o-codigo-mais-simples-com-refatoracao-no-java.1695045609.png"
      alt=""
      height="200px"
      srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#">Deixando o código mais simples com refatoração no Java</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>
