/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*tamanho da caixa: vai contabilizar de borda a borda*/
  background-color: #111111;
}
