<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1275958/top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"
      alt=""
      height="200px"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu nova versão angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo animi esse consequuntur quasi cumque iste eveniet facilis excepturi ea odit qui, veniam dolorem voluptatibus aut. Corporis necessitatibus minima enim aliquam.
      </a>
    </p>
  </div>

</div>
